// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
// Components
.devicon-xamarin-plain {
  width: 48px;
  height: 48px;
}

/* if you want to change the original color */
.devicon-xamarin-plain path {
  fill: $gray-700;
  &:hover {
    fill: $martinique;
  }
}

#form-messages {
  visibility: hidden;
}