// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

// Components
.devicon-xamarin-plain {
  width: 48px;
  height: 48px;
}

/* if you want to change the original color */
.devicon-xamarin-plain path {
  fill: $secondary;
  &:hover {
    fill: darken($secondary, 15%);
  }
}

#form-messages {
  visibility: hidden;
}

#img-profile-container {
  text-align: center;
}

.img-profile {
  margin-top: 3rem;
  max-width: 15rem;
  max-height: 15rem;
  border: 0.5rem solid lighten($primary, 20%);
}